@charset "UTF-8";
/* ** Feuille de style standart html4  ** */
html{font-size:100%;background-color:transparent;}/* Cf.: http://pompage.net/pompe/definir-des-tailles-de-polices-en-CSS/ */
body{font-size:1em;font-family:"Luxi sans","Luci4C4 Grande","Luci4C4 Sans Unicode",sans-serif;background:#4C4;margin:0;padding:0;text-align: left;color:#000;}

/* -- Titraille / Intertitres -- */
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight:normal;font-size:1em;font-family:Georgia,Times,serif}
h1{font-size:1.70em;color:#000;text-align:center;font-weight:bold}
h2{font-size:1.40em;font-weight:normal}
h2,h2 a,h2 a:focus,h2 a:hover,h2 a:active{color:#003;}
h3{font-size:1.20em;font-weight:bold;}

/* -- Autres enrichissements typo -- */
strong{font-weight:bold;}
em{font-style:italic;}
abbr,acronym{border-bottom:1px dotted;cursor:help}
small{font-size:0.90em;color:#666;}
dfn{font-weight:bold;color:#666}
del{text-decoration:line-through}
ins{color:red !important;text-decoration:none}
sup,sub{font-size:.8em;font-variant:normal}

/* -- Listes -- */
/*
ul {}
ol {}
dl {}
dt {}
dd {}
cite {}
q {}
blockquote {}
address {}
*/

div{margin:0;padding:0;}

/* -- Tableaux -- */
table{border:none Black;margin:auto 3px 0px;border-bottom:none;border-color:#000;border-right:4px;}
table caption,caption{text-align:center;white-space:nowrap;font-weight:bold;}
thead{background-color:Blue;border-color:Lime;border-style:solid;text-align:center;}

/* -- input -- */
input,textarea{background-color:#11A0FF;color:black;text-indent:2px;border-bottom:inset Navy;border:none #00CED1;font-family:sans-serif;font-size:0.9em;}
input.button{color:#FF0099}
input.mainoption{font-weight:bold}
input.liteoption{font-weight: normal}

/* -- select -- */
select{font-family:verdana;font-weight:bold;font-size:0.9em;border:1px solid #000000}

/* -- Text  -- */
p{text-indent: 2em;text-align: justify;color: black;}
.p_sans_marge{margin:0;padding: 0}
a {color:#573;text-decoration: none}
a:focus,a:hover,a:active{color:#073;text-decoration:underline;}

/* -- Logos, documents et images -- */
img{margin:0;padding:0;border: 0;}
